.topnav-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-nav {
  padding: 1rem;
  box-shadow: 0 1px 10px rgba(51, 51, 51, 0.5);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;

  .profile-nav {
    margin-right: 5%;
    font-size: 2rem;
    cursor: pointer;
  }
}

.loggedin-main-wrapper {
  height: 100%;
  padding: 0 5%;
  // background: linear-gradient(#f4d8b6, #fff);
  background-color: #fefaf4;

  // background-color: rgba(254, 225, 188, 0.3);
}

.nav-logo {
  width: 12rem;
  margin-left: 2rem;
}

.wrapper {
  display: flex;

  // height: 100vh;
}

.side-nav {
  min-height: 100vh;
  border-right: 0.1px solid #333;
  padding: 2rem;
  flex-wrap: nowrap;
  width: fit-content;
  background-color: rgb(254, 225, 188);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  // min-width: 120px;
  // max-width: 120px;

  .face {
    width: 5rem;
    cursor: pointer;
    padding-top: 5px;
  }

  .list-wrapper {
    padding-top: 2rem;

    .li-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
      cursor: pointer;
      img {
        width: 3rem;
        margin: auto 0;
      }
      .side-li {
        font-size: 1rem;
        font-weight: 300;
        padding-top: 0.5rem;
        text-align: center;
      }

      .active-page {
        font-size: 1.2rem;
        font-weight: 300;
        padding-top: 0.5rem;
        text-align: center;
        filter: drop-shadow(0.5px 0.5px 5px rgba(255, 255, 255, 0.533));
        text-decoration: underline;
      }
    }
  }
}

.open-menu {
  display: none;
}

.closenav-wrapper {
  display: none;
}

@media only screen and (max-width: 560px) {
  .side-nav {
    display: none;
    position: relative;
  }

  .top-nav {
    justify-content: space-between;
  }

  .closenav-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
  }

  .open-menu {
    display: block;
    cursor: pointer;

    .line {
      width: 5rem;
      height: 0.2rem;
      background-color: #333;
      margin: 0.8rem;
    }
  }

  .menu-open {
    display: flex;
    background-color: rgb(254, 225, 188);
    position: fixed;
    width: 50vw;
    left: 0;
    transition: 0.5s ease-in;
  }
}
