table {
  //   border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 200;
  max-height: 5vh;
  overflow: scroll;

  tr > th {
    font-weight: 300;
  }
  button {
    font-size: 1rem;
  }
}

.td {
  text-align: center;
  padding: 1rem 0;
  margin: auto 0;
}

.td-checkbox {
  .checkbox {
    border-radius: 10px;
  }
}
.td-id {
  width: 5px;
  overflow: scroll;
}
.tr-main {
  border-top: 1px solid;
  margin-top: 1rem;

  .delete {
    cursor: pointer;
  }
}

.request,
.email,
.status {
  cursor: pointer;
}

.status {
  min-width: 50px;
  max-width: 50px;
}

.email {
  min-width: 100px;
  max-width: 100px;
}
.done {
  background-color: rgba(119, 189, 86, 0.62);
}

.in-progress {
  background-color: rgba(235, 214, 119, 0.62);
}

.issue {
  background-color: rgba(197, 107, 102, 0.62);
}

.dropbtn {
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .arrow-down {
    position: absolute;
    right: 10px;
    display: none;
  }
}

.dropdown-content {
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;

  cursor: pointer;
  position: absolute;
  top: 200%;
  text-align: start;
}

.noshow-email,
.noshow-status {
  display: none;
}

.show-email,
.show-status {
  display: block;
}

.dropdown-content div {
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.dropdown-content div:hover {
  color: #77bc56;
  cursor: pointer;
}

.email:hover .arrow-down {
  display: block;
}
.status:hover .arrow-down {
  display: block;
}
