.table-wrapper {
  // border: 0.1px solid #333;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 5px rgba(51, 51, 51, 0.2);
}

table {
  min-width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  font-weight: 200;

  tr > th {
    font-weight: 300;
  }
  button {
    font-size: 1rem;
  }
}

th {
  padding-bottom: 10px;
  overflow: hidden;
}

.td-open-errend {
  padding: 0.5rem;
}

.td-id {
  width: 200px;
}

.delete {
  font-size: 1.2rem;
  display: flex;
}

.status {
  overflow: visible;
}

.request,
.email,
.status {
  cursor: pointer;
}

.done {
  // background-color: rgba(119, 189, 86, 0.62);
  box-shadow: -10px 0px 0px 0px rgba(119, 189, 86, 0.62);
}

.done-td {
  background-color: rgba(119, 189, 86, 0.62);
  width: 25px;
}

.in-progress {
  box-shadow: -10px 0px 0px 0px rgba(235, 214, 119, 0.62);
}

.in-progress-td {
  background-color: rgba(235, 214, 119, 0.62);
  width: 25px;
}

.issue {
  box-shadow: -10px 0px 0px 0px rgba(197, 107, 102, 0.62);
}

.issue-td {
  background-color: rgba(197, 107, 102, 0.62);
  width: 25px;
}

.dropbtn {
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .arrow-down {
    position: absolute;
    right: 10px;
    display: none;
  }
}

.dropdown-content {
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 20;

  cursor: pointer;
  position: absolute;
  top: 200%;
  text-align: start;
}

.noshow-email,
.noshow-status {
  display: none;
}

.show-email,
.show-status {
  display: block;
}

.dropdown-content div {
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.dropdown-content div:hover {
  color: #77bc56;
  cursor: pointer;
}

.email:hover .arrow-down {
  display: block;
}
.status:hover .arrow-down {
  display: block;
}

.delete-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
