.bug-list-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 1rem;

  .bug-list-title-wrapper {
    margin-bottom: 1rem;
    h4 {
      font-weight: 400;
      padding: 0.5rem;
    }
  }

  .stats-wrapper {
    display: flex;
    font-weight: 300;
    gap: 4rem;
    border-bottom: 0.5px solid;
    width: fit-content;
    padding: 0.5rem;
  }
}
