.navbar-login {
  padding: 3rem;
  background: linear-gradient(#ffc476, #fff);
}

.main-form {
  display: flex;
  justify-content: center;
  max-width: 30em;
  min-width: 30rem;
  margin: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  width: 90%;

  h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
  }
  .improveme-face {
    width: 3rem;
    margin-left: 10px;
    position: absolute;
    right: -20%;
  }

  .move {
    animation: moveRight 0.5s ease-in;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 80%;

    .form-label {
      margin-top: 1rem;
      font-weight: 300;
      margin-bottom: 0.2rem;
      font-size: 1rem;
    }

    input {
      padding: 0.5rem;
    }

    button {
      background-color: #fefaf4;
      width: 50%;
      padding: 1rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 2px;
      border: none;
      margin-top: 1.5rem;
      align-self: center;
      cursor: pointer;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }

    .user-incorrect {
      text-align: center;
      color: red;
    }
  }

  .active-btn:hover {
    box-shadow: 0.5px 0.5px 2px #333;
    cursor: pointer;
  }

  .active-btn:active {
    -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
    box-shadow: inset 0px 0px 4px #c1c1c1;
    outline: none;
  }

  p {
    margin-top: 0.5rem;
  }

  .create-account {
    text-decoration: underline;
    cursor: pointer;
  }

  a,
  a:visited {
    color: #fff;
  }

  button {
    padding: 0.5rem;
  }

  .instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
  }

  .instructions > svg {
    margin-right: 0.25rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  .invalid {
    color: red;
    margin-left: 0.25rem;
  }

  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .line {
    display: inline-block;
  }
}

.user-exist {
  border: 0.5px solid red;
}

.success-header {
  font-weight: 200;
}

.success-ptag {
  font-weight: 200;
}
.success-img {
  padding-top: 2rem;
  width: 10rem;
  transition: 0.5s ease-in-out;
  animation: mymove 0.5s ease-in;
}

@keyframes mymove {
  0% {
    width: 0.1rem;
  }

  3% {
    width: 0.2rem;
  }

  5% {
    width: 0.3rem;
  }

  7% {
    width: 0.4rem;
  }

  10% {
    width: 0.5rem;
  }

  12% {
    width: 0.6rem;
  }

  15% {
    width: 0.7rem;
  }

  17% {
    width: 0.8rem;
  }

  20% {
    width: 0.9rem;
  }

  22% {
    width: 1rem;
  }

  25% {
    width: 1.1rem;
  }

  27% {
    width: 1.2rem;
  }

  30% {
    width: 1.3rem;
  }

  32% {
    width: 1.4rem;
  }

  35% {
    width: 1.5rem;
  }

  37% {
    width: 1.6rem;
  }

  40% {
    width: 1.7rem;
  }

  42% {
    width: 1.8rem;
  }

  45% {
    width: 1.9rem;
  }
  47% {
    width: 2rem;
  }
  50% {
    width: 2.5rem;
  }

  52% {
    width: 3rem;
  }

  55% {
    width: 3.5rem;
  }

  57% {
    width: 4rem;
  }
  60% {
    width: 4.2rem;
  }

  62% {
    width: 4.5rem;
  }

  65% {
    width: 5rem;
  }

  67% {
    width: 5.2rem;
  }
  70% {
    width: 5.5rem;
  }

  72% {
    width: 6rem;
  }

  75% {
    width: 6.2rem;
  }

  77% {
    width: 6.5rem;
  }
  80% {
    width: 7rem;
  }

  82% {
    width: 7.2rem;
  }

  85% {
    width: 7.5rem;
  }

  87% {
    width: 8rem;
  }
  90% {
    width: 8.2rem;
  }

  92% {
    width: 8.5rem;
  }
  95% {
    width: 9rem;
  }
  97% {
    width: 9.5rem;
  }
  100% {
    width: 10rem;
  }
}

@keyframes moveRight {
  0% {
    right: -21%;
  }

  1% {
    right: -22%;
  }

  2% {
    right: -23%;
  }

  3% {
    right: -24%;
  }

  4% {
    right: -25%;
  }

  5% {
    right: -26%;
  }

  6% {
    right: -27%;
  }

  7% {
    right: -28%;
  }

  8% {
    right: -29%;
  }

  9% {
    right: -30%;
  }

  10% {
    right: -31%;
  }

  11% {
    right: -32%;
  }

  12% {
    right: -33%;
  }

  13% {
    right: -34%;
  }

  14% {
    right: -35%;
  }

  15% {
    right: -50%;
  }

  16% {
    right: -57%;
  }

  17% {
    right: -58%;
  }

  18% {
    right: -59%;
  }
  19% {
    right: -60%;
  }
  20% {
    right: -61%;
  }

  21% {
    right: -62%;
  }

  22% {
    right: -63%;
  }

  23% {
    right: -64%;
  }
  24% {
    right: -65%;
  }

  25% {
    right: -150%;
  }

  26% {
    right: -150%;
  }

  27% {
    right: -160%;
  }
  28% {
    right: -170%;
  }

  29% {
    right: -180%;
  }

  30% {
    right: -190%;
  }

  31% {
    right: -200%;
  }
  32% {
    right: -210%;
  }

  33% {
    right: -220%;
  }

  34% {
    right: -230%;
  }

  35% {
    right: -230%;
  }
  36% {
    right: -240%;
  }

  37% {
    right: -250%;
  }
  38% {
    right: -260%;
  }
  49% {
    right: -265%;
  }
  50% {
    right: -270%;
  }
  51% {
    right: -270%;
  }
  52% {
    right: -270%;
  }
  53% {
    right: -270%;
  }
  54% {
    right: -270%;
  }
  55% {
    right: -270%;
  }
  56% {
    right: -270%;
  }
  57% {
    right: -270%;
  }
  58% {
    right: -270%;
  }
  59% {
    right: -270%;
  }
  60% {
    right: -270%;
  }
  61% {
    right: -270%;
  }
  62% {
    right: -270%;
  }
  63% {
    right: -270%;
  }
  64% {
    right: -270%;
  }
  65% {
    right: -270%;
  }
  66% {
    right: -270%;
  }
  67% {
    right: -270%;
  }
  68% {
    right: -270%;
  }
  69% {
    right: -270%;
  }
  70% {
    right: -270%;
  }
  71% {
    right: -270%;
  }
  72% {
    right: -270%;
  }
  73% {
    right: -270%;
  }
  74% {
    right: -270%;
  }
  75% {
    right: -270%;
  }
  76% {
    right: -270%;
  }
  77% {
    right: -270%;
  }
  78% {
    right: -270%;
  }
  79% {
    right: -270%;
  }
  80% {
    right: -270%;
  }
  81% {
    right: -270%;
  }
  82% {
    right: -270%;
  }
  83% {
    right: -270%;
  }
  84% {
    right: -270%;
  }
  85% {
    right: -270%;
  }
  86% {
    right: -270%;
  }
  87% {
    right: -270%;
  }
  88% {
    right: -270%;
  }
  89% {
    right: -270%;
  }
  90% {
    right: -270%;
  }
  91% {
    right: -270%;
  }
  92% {
    right: -270%;
  }
  93% {
    right: -270%;
  }
  94% {
    right: -270%;
  }
  95% {
    right: -270%;
  }
  96% {
    right: -270%;
  }
  97% {
    right: -270%;
  }
  98% {
    right: -270%;
  }
  99% {
    right: -270%;
  }
  100% {
    right: -270%;
  }
}
