.navbar-login {
  padding: 3rem;
  background: linear-gradient(#ffc476, #fff);
  cursor: pointer;
}

.main-form {
  display: flex;
  justify-content: center;
  max-width: 30em;
  min-width: 30rem;
  margin: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  width: 90%;

  h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
  }
  .improveme-face {
    width: 3rem;
    margin-left: 10px;
    position: absolute;
    right: -20%;
  }

  .move {
    animation: moveRight 0.3s ease-in;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 80%;

    .form-label {
      margin-top: 1rem;
      font-weight: 300;
      margin-bottom: 0.2rem;
      font-size: 1rem;
    }

    input {
      padding: 0.5rem;
    }

    button {
      background-color: #fefaf4;
      width: 50%;
      padding: 1rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 2px;
      border: none;
      margin-top: 1.5rem;
      align-self: center;
      cursor: pointer;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }

    .user-incorrect {
      text-align: center;
      color: red;
    }
  }

  .disabled-btn {
    display: none;
  }

  .active-btn {
    display: block;
  }

  .active-btn:hover {
    box-shadow: 0.5px 0.5px 2px #333;
    cursor: pointer;
  }

  .active-btn:active {
    -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
    box-shadow: inset 0px 0px 4px #c1c1c1;
    outline: none;
  }

  p {
    margin-top: 0.5rem;
  }

  .create-account {
    text-decoration: underline;
    cursor: pointer;
  }

  a,
  a:visited {
    color: #fff;
  }

  button {
    padding: 0.5rem;
  }

  .instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
  }

  .instructions > svg {
    margin-right: 0.25rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  .invalid {
    color: red;
    margin-left: 0.25rem;
  }

  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .line {
    display: inline-block;
  }
}

.user-exist {
  border: 0.5px solid red;
}

.success-header {
  font-weight: 200;
}

.success-ptag {
  font-weight: 200;
}
.success-img {
  padding-top: 2rem;
  width: 10rem;
  transition: 0.5s ease-in-out;
  animation: mymove 0.5s ease-in;
}

@keyframes mymove {
  0% {
    width: 0.1rem;
  }

  100% {
    width: 10rem;
  }
}

@keyframes moveRight {
  0% {
    right: -21%;
  }

  100% {
    right: -270%;
  }
}
