@use "./style/mixins" as m;
@use "./pages/loggedout/homepage/style/homepage";
@use "./pages/loggedout/login/style/login";
@use "./style/components/buttons/createpart";
@use "./style/components/cards/partcard";
@use "./style/components/pages/loggedinmain";
@use "./pages/loggedin/dashboard/style/dashboard";
@use "./style/components/wrappers/pagetitle";
@use "./style/components/wrappers/createpartform";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.txt-200 {
  @include m.txt-200;
  padding-bottom: 2rem;
}

.txt-300 {
  @include m.txt-300;
  padding-bottom: 1rem;
}

.txt-400 {
  @include m.txt-400;
}
