@use "./style/mixins" as m;
@use "./pages/loggedout/homepage/style/homepage";
@use "./pages/loggedout/login/style/login";
@use "./style/components/buttons/createpart";
@use "./style/components/cards/partcard";
@use "./style/components/pages/loggedinmain";
@use "./pages/loggedin/dashboard/style/dashboard";
@use "./style/components/wrappers/pagetitle";
@use "./style/components/wrappers/createpartform";
@use "./pages/loggedin/featurerequests/style/featurerequests";
@use "./style/components/lists/ticketlist";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.txt-200 {
  @include m.txt-200;
  padding-bottom: 2rem;
}

.txt-300 {
  @include m.txt-300;
  padding-bottom: 1rem;
}

.txt-400 {
  @include m.txt-400;
}

.unapproved-h4 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.section-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  .section-card-border {
    width: 200px;
    border: 0.5px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #333;
    cursor: pointer;

    .section-title {
      width: 100%;
      text-align: center;
      padding: 1rem 0 0 0;
      font-weight: 300;
    }

    .amout {
      text-align: center;
      font-weight: 200;
      padding: 1rem;
    }
  }
}

@media (max-width: 510px) {
  .section-card-border {
    width: 100% !important;
  }
}

.td {
  text-align: center;
  padding: 1rem;
  width: 200px;
}
.section-list-border {
  border: solid;
  border-radius: 5px;
  width: 80%;
  background-color: #fff;
  padding: 2rem;
  min-height: 50%;

  .table-section-list {
    border-collapse: collapse;
    overflow: scroll;
  }
  // .td-open-errend {
  //   max-width: 40px;
  // }
  .section-list-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .close-section-list {
      background-color: #f8fafb;
      cursor: pointer;
      padding: 0.5rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 5px;
      border: none;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }
  }

  .approve {
    color: green;
    cursor: pointer;

    .approve-span {
      color: black;
    }
  }

  .delete-request {
    cursor: pointer;
  }

  .tr {
    border-bottom: solid;
  }
}

.oppen-errend-btn {
  background-color: #f8fafb;
  cursor: pointer;
  padding: 0.5rem 2rem;
  box-shadow: 1px 1px 2px #333;
  border-radius: 5px;
  border: none;

  &:hover {
    box-shadow: 0.5px 0.5px 2px #333;
    cursor: pointer;
  }

  &:active {
    -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
    box-shadow: inset 0px 0px 4px #c1c1c1;
    outline: none;
  }
}

.errend-card-border {
  border: solid;
  border-radius: 5px;
  width: 80%;
  background-color: #fff;
  padding: 2rem;
  min-height: 50%;

  .delete-request {
    text-align: center;
  }

  .section-list-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    .close-section-list {
      background-color: #f8fafb;
      cursor: pointer;
      padding: 0.5rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 5px;
      border: none;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }
  }
}
