@use "./style/mixins" as m;
@use "./pages/loggedout/homepage/style/homepage";
@use "./pages/loggedout/login/style/login";
@use "./style/components/buttons/createpart";
@use "./style/components/cards/partcard";
@use "./style/components/pages/loggedinmain";
@use "./pages/loggedin/dashboard/style/dashboard";
@use "./style/components/wrappers/pagetitle";
@use "./style/components/wrappers/createpartform";
@use "./pages/loggedin/featurerequests/style/featurerequests";
@use "./style/components/lists/ticketlist";
@use "./pages/loggedin/bugreports/style/bugreport";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.txt-200 {
  @include m.txt-200;
  padding-bottom: 2rem;
}

.txt-300 {
  @include m.txt-300;
  padding-bottom: 1rem;
}

.txt-400 {
  @include m.txt-400;
}

.unapproved-h4 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.section-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  .section-card-border {
    width: 200px;
    border: 0.5px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #333;
    cursor: pointer;

    .section-title {
      width: 100%;
      text-align: center;
      padding: 1rem 0 0 0;
      font-weight: 300;
    }

    .amout {
      text-align: center;
      font-weight: 200;
      padding: 1rem;
    }
  }
}

@media (max-width: 510px) {
  .section-card-border {
    width: 100% !important;
  }
}

.td {
  text-align: center;
  padding: 1rem;
  min-height: 40px;
  max-height: 40px;
  border-bottom: 0.1px solid;
}
.td-open-errend {
  background-color: #fefaf4;
}
.section-list-border {
  border: solid;
  border-radius: 5px;
  width: 80%;
  background-color: #fefaf4;
  padding: 2rem;
  min-height: 50%;

  .table-section-list {
    border-collapse: collapse;
    overflow: scroll;
  }

  .section-list-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .close-section-list {
      background-color: #fefaf4;
      cursor: pointer;
      padding: 0.5rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 2px;
      border: 0.5px solid;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }
  }

  .approve {
    color: green;
    cursor: pointer;

    .approve-span {
      color: black;
    }
  }

  .delete-request {
    cursor: pointer;
  }

  .tr {
    border-bottom: solid;
  }
}

.oppen-errend-btn {
  background-color: #ffffff00;
  cursor: pointer;
  padding: 0.5rem 2rem;
  // box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.2);
  border-radius: 2px;
  border: 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2px;

  &:hover {
    box-shadow: 0.5px 0.5px 2px #333;
    cursor: pointer;
  }

  &:active {
    -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
    box-shadow: inset 0px 0px 4px #c1c1c1;
    outline: none;
  }
}

.errend-card-border {
  border: solid;
  border-radius: 5px;
  width: 80%;
  background-color: #fefaf4;
  padding: 2rem;
  min-height: 50%;
  max-height: 90%;
  overflow: scroll;

  .delete-request {
    text-align: center;
  }

  .section-list-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    .close-section-list {
      background-color: #fefaf4;
      cursor: pointer;
      padding: 0.5rem 2rem;
      box-shadow: 1px 1px 2px #333;
      border-radius: 2px;
      border: 0.5px solid;

      &:hover {
        box-shadow: 0.5px 0.5px 2px #333;
        cursor: pointer;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 4px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 4px #c1c1c1;
        box-shadow: inset 0px 0px 4px #c1c1c1;
        outline: none;
      }
    }
  }

  .sent-by-wrapper {
    padding: 2rem 0 0 5rem;
    font-size: 1.2rem;

    h4 {
      font-weight: 400;
    }

    h4,
    .sent-by-email {
      padding: 0.2rem 1rem;
    }

    .sent-by-email {
      font-weight: 300;
    }
  }

  .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5rem 5rem 5rem;
    gap: 15px;

    h4 {
      padding: 0.2rem 1rem;
      font-weight: 400;
    }
    .info-border {
      width: 45%;
      max-height: 50vh;
      overflow: scroll;
      font-weight: 200;
      font-size: 1.2rem;

      .info-txt {
        padding: 1rem;
        border: 1px solid rgba(119, 189, 86, 0.62);
        border-radius: 5px;
        min-height: 50px;
        word-break: break-all;
      }

      .info-txt-img {
        padding: 1rem;
        border: 1px solid rgba(119, 189, 86, 0.62);
        border-radius: 5px;
        display: flex;
        align-items: center;
        min-height: 60px;
        max-height: 60px;

        img {
          width: 4rem;
          object-fit: contain;
        }
      }
    }
  }
}

.delete-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
