.second-title-wrapper {
  margin-bottom: 1rem;
  margin: 1rem;

  h4 {
    font-weight: 300;
    margin-top: 5rem;
  }
}

.cards-dashboard {
  display: flex;
  gap: 5rem;
}

.top-three-wrapper {
  margin-top: 5rem;
  height: 50vh;
  h4 {
    font-weight: 400;
  }
}

@media only screen and (max-width: 920px) {
  .cards-dashboard {
    flex-direction: column;
    gap: 2rem;
  }
}
