.second-title-wrapper {
  margin-bottom: 1rem;

  h4 {
    font-weight: 300;
  }
}

.cards-dashboard {
  display: flex;
  gap: 5rem;
}

.top-three-wrapper {
  border: solid;
  margin-top: 5rem;

  h4 {
    font-weight: 400;
  }
}
